<!DOCTYPE html>
<html lang="is" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
  <header class="my-5">
    <div class="container">
      <h1 class="display-4 text-uppercase">
        {{ title }}
        <span class="fs-5 text-info">{{ date }}</span>
      </h1>
    </div>
  </header>
  <main class="container">
    <section id="schedule">
      {% for listing in listings %}
      {% include "listing.html" %}
      {% endfor %}
    </section>
  </main>
</body>

</html>