<!DOCTYPE html>
<html lang="is" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@latest/dist/lux/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@latest/dist/htmx.min.js" defer></script>
</head>

<body>
    <header class="my-5">
        <div class="container">
            <h1 class="display-3 fw-bold">{{ title }}</h1>
        </div>
    </header>
    <main class="container">
        <section id="schedule" hx-get="/_listings" hx-trigger="load">
            <div class="htmx-indicator spinner-border text-muted"></div>
        </section>
    </main>
</body>

</html>
